<!-- 
  Estrutura código html
  Utilização do componente angular material tabs e bootstrap, para uma melhor organização e estilização do conteúdo. 
-->
<mat-tab-group dynamicHeight>
  <!-- #end doc region dynamic-height -->
  <mat-tab label={{title}}>
    <div class="example-large-box mat-elevation-z4">
      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>RU</th>
              <th>Nome do Curso</th>
              <th>Data de Aniversário</th>
            </tr>
          </thead>
          <tbody><!-- Utilizando uma diretiva ngFor para renderizar as variáveis dos itens da listagem na tabela HTML-->
            <tr *ngFor="let item of listagem">
              <td>{{ item.nome }}</td>
              <td>{{ item.ru }}</td>
              <td>{{ item.curso }}</td>
              <td>{{ item.dataNasc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>